/* Your amazing stylesheet */
html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
    color: #333;
}

h1 {
    font-size: 2.3rem;
    letter-spacing: -0.015rem;
}

h2 {
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
}

h3 {
    font-size: 1.4rem;
}

p {
    color: #666;
    text-align: center;
    font-size: 0.52rem;
}

/* Header Section */

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-transform: uppercase;
    color: #666;
    width: 100%;
    height: 3.5em;
    line-height: 0.5;
}

#logo_area {
    margin-left: 8.3%;
    max-width: 100%;
}

header h3 {
    color: #666;
    font-weight: 500;
    letter-spacing: 0.09rem;
    white-space: nowrap;
}

.logo-red {
    background-color: #DF2624;
    color: #fff;
    padding: 2% 5%;
}

nav {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 8.3%;
    /* max-width: 100%; */
}

ul {
    padding-left: 0;
    width: 100%;
    white-space: nowrap;
}

ul li {
    display: inline-block;
    font-size: 0.48rem;
    padding: 0 2.5%;
}

/* Banner */

#banner {
    background-color: #DF2624;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 11.7% 0;
}

#banner h1 {
    color: #FFF;
}

#banner h3 {
    color: #FFF;
    font-weight: 100;
}

/* About Section */

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Contact Section */

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    color: #666;
}

input[type=text] {
    border-top: none;
    border-right: none;
    border-left: none;
}

input[type=submit] {
    border: none;
    background-color: #DF2624;
    color: #FFF;
    text-transform: uppercase;
    border-radius: 5%;
}

/* Footer Section */

footer {
    background-color: #333;
    text-align: center;
}
 footer p {
     color: #FFF;
 }